/* variables */
:root {
  /* colors */
  --color-base: #02073e;
  --color-black: black;
  --color-black2: #0f2137;
  --color-white: white;
  --color-primary: #ea3a60;

  /* containers */
  --container-default: 115.8rem;
  --container-small: 107.2rem;
  --container-medium: 134.8rem;
  --container-large: 148.8rem;
  --container-gutter: 2.4rem;

  /* fonts */
  --primary-font: "DM Sans", sans-serif;

  /* transitions */
  --transition1: all 0.3s ease-in-out;
  --transition2: all 0.5s ease-in-out;
}

/* variables */

/* reset code */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  hyphens: auto;
  font: inherit;
  font-family: var(--primary-font);
  color: var(--color-base);
}
/*
    3. Allow percentage-based heights in the application
  */
html {
  font-size: 62.5%;
}
html,
body,
#__next {
  height: 100%;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
img {
  display: inline;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: underline;
}
a:not([class]):hover,
a:not([class]):focus {
  text-decoration: none;
}

/* Very simple blockquote styling */
blockquote {
  margin: 1em 1.5em;
  padding-left: 1.5em;
  border-left: 5px solid hsl(0, 0%, 85%);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}

a,
button {
  transition: var(--transition1);
}
a {
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: none;
}

/* utility classes */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.align-start {
  display: flex;
  align-items: flex-start;
}
.fit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.pos-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
.nowrap {
  white-space: nowrap;
}
.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
.lazy-img {
  opacity: 0;
  transform: translateY(-5rem) scale(0.5);
  transition: var(--transition2);
}
.unlazied {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.0625rem;
}
.visuallyhidden,
.visually-hidden,
.visuallyHidden,
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  transition: none;
}
.visuallyhidden.focusable:focus,
.visually-hidden.focusable:focus,
.visuallyHidden.focusable:focus,
.sr-only.focusable:focus {
  top: 0;
  left: 0;
  background: black;
  color: white;
  overflow: visible;
  clip: auto;
  margin: 0;
  width: 100%;
  height: auto;
  border: 1px dashed white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  z-index: 9001;
}
/* utility classes */

/* typography */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 2rem;
  text-transform: capitalize;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 7rem;
  line-height: 8rem;
  margin-bottom: 3rem;
  letter-spacing: -0.02em;
}

h2,
.h2 {
  font-size: 3.6rem;
  line-height: 5.5rem;
  margin-bottom: 3rem;
}

h3,
.h3 {
  font-size: 2rem;
  line-height: 2.3rem;
}

h4,
.h4 {
}
h5,
.h5 {
}
h6,
.h6 {
}
p {
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 0 0 1rem;
}
ol,
ul {
  font-size: 1.6rem;
}
a {
  font-size: 1.6rem;
}

.light-bold {
  font-weight: 300;
}
.medium-bold {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.strike {
  text-decoration: line-through;
}
.small {
  font-size: 1.6rem;
}
.medium {
  font-size: 1.8rem;
}
.large {
  font-size: 2rem;
}

.section-titles {
  margin-bottom: 8rem;
  text-align: center;
}
.section-titles__sub {
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
  font-weight: 700;
}
.section-titles__title {
  color: var(--color-black2);
  margin: 0;
}
/* typography */

/* buttons */

.button,
.btn {
  display: inline-block;
  border: 0;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  background: var(--color-black);
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.16px;
  padding: 1.3rem 4.7rem;
  outline: 2px solid transparent;
  min-width: 15rem;
  border-radius: 50px;
}

.button:hover,
.button:focus,
.btn:hover,
.btn:focus {
  outline: 2px solid var(--color-black);
  color: var(--color-black);
  background: transparent;
}
.button-red {
  background: var(--color-primary);
  color: var(--color-white);
  outline: 2px solid var(--color-primary);
}
.hollow-red {
  background: transparent;
  color: var(--color-primary);
  outline: 2px solid var(--color-primary);
}

/* buttons */

/* containers */
.container {
  width: 100%;
  max-width: var(--container-default);
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
}
.container--small {
  max-width: var(--container-small);
}
.container--medium {
  max-width: var(--container-medium);
}
.container--large {
  max-width: var(--container-large);
}
.container--full {
  max-width: 100%;
  padding: 0;
}

/* containers */
/* section paddings */

.section-container {
  padding: 50px 0;
}
.section-container--xsmall {
  padding: 30px 0;
}
.section-container--xsmall.section-container--padding-top {
  padding: 30px 0 0;
}
.section-container--xsmall.section-container--padding-bottom {
  padding: 0 0 30px;
}
.section-container--small {
  padding: 100px 0;
}
.section-container--small.section-container--padding-top {
  padding: 100px 0 0;
}
.section-container--small.section-container--padding-bottom {
  padding: 0 0 100px;
}
.section-container--lopsided {
  padding: 150px 0 120px;
}
.section-container--medium {
  padding: 180px 0;
}
.section-container--medium.section-container--padding-top {
  padding: 180px 0 0;
}
.section-container--medium.section-container--padding-bottom {
  padding: 0 0 180px;
}
.section-container--large {
  padding: 200px 0;
}
.section-container--large.section-container--padding-top {
  padding: 200px 0 0;
}
.section-container--large.section-container--padding-bottom {
  padding: 0 0 200px;
}
/* section paddings */

/* side by side */

.side-by-side {
  position: relative;
  display: flex;
  align-items: center;
  gap: 9rem;
}
.side-by-side__item {
  width: 50%;
}
.side-by-side--flipped {
  flex-direction: row-reverse;
}

/* side by side */
/* animations */

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateX(-60rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes upDown {
  0% {
    opacity: 0;
    transform: translateY(90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateY(60rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes downUp {
  0% {
    opacity: 0;
    transform: translateY(-90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateY(-60rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes comeInQuick {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

/* animations animation-delay: 250ms; */

/* header */
.header {
  padding-top: 3rem;
  margin-bottom: 15rem;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo a {
  display: block;
}
.header-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 23rem;
}
.navbar {
}
.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.nav-links__item {
}
.nav-links__link {
  text-decoration: none;
}

.nav-links__link:hover,
.nav-links__link:focus {
  text-decoration: underline;
}
.header__cta {
}
.hamburger-btn {
  display: none;
}
/* header */
/* main/sections */
/* hero */
.section-hero {
  text-align: center;
  border: 1px solid red;
  position: relative;
}
.section-hero__wrapper {
}
.section-hero__textbox {
  width: 100%;
  max-width: 81.4rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  animation: leftToRight 1s;
}
.section-hero__title {
  margin-bottom: 3rem;
}
.section-hero__desc {
  width: 100%;
  max-width: 50.2rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.section-hero__cta {
}
.section-hero__img {
  animation: rightToLeft 1s;
}

.section-hero__shape {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.section-hero__shape--blue {
  left: 0;
  top: 0;
  animation: upDown 1s linear forwards;
  animation-delay: 1s;
}

.section-hero__shape--yellow {
  right: 0;
  bottom: 0;
  animation: downUp 1s linear forwards;
  animation-delay: 1s;
}
/* hero */

/* features */
.section-features {
  border: 1px solid skyblue;
}
.feature-listing {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}
.feature-listing__item {
}
.feature-listing__image {
}
.feature-listing__link {
  text-decoration: none;
}
.feature-listing__link:hover,
.feature-listing__link:focus {
  text-decoration: underline;
}
.feature-listing__title {
}
.feature-listing__text {
}
/* features */

/* team */
.section-team .container {
  border: 1px solid pink;
}
.team-listing {
  display: flex;
  flex-wrap: wrap;
}
.team-listing__item {
  border-radius: 10px;
  padding: 3rem;
  padding-right: 6rem;
  position: relative;
  flex: 1 0 33.333333%;
}
.team-listing__item:hover {
  box-shadow: 0px 4px 10px rgba(39, 83, 123, 0.12);
}
.team-listing__container {
  text-align: center;
}
.team-listing__prof {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  margin: 0 auto;
  margin-bottom: 3rem;
}
.team-listing__prof img {
  border-radius: 50%;
}
.team-listing__name {
  margin-bottom: 1.5rem;
}
.team-listing__position {
  margin: 0;
}
.team-listing__item:hover .team-listing__name,
.team-listing__item:hover .team-listing__position {
  color: var(--color-primary);
}
.social-medias {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.social-medias__item {
  opacity: 0;
  display: none;
}
.team-listing__item:hover .social-medias__item {
  display: flex;
  animation: comeInQuick 0.5s linear forwards;
}

.social-medias li:first-child {
}
.social-medias li:nth-child(2) {
  animation-delay: 0.9s;
}
.social-medias li:last-child {
  animation-delay: 2s;
}
.social-medias__item {
}
.social-medias__link:hover,
.social-medias__link:hover:focus {
  transform: scale(1.3) rotate(360deg);
}
/* team */
/* subscribe */

.section-subscribe__container {
  position: relative;
  background: var(--color-primary);
  padding: 6rem 3rem;
  color: var(--color-white);
  border-radius: 1rem;
  text-align: center;
}
.section-subscribe__textbox {
  margin-bottom: 6rem;
}
.section-subscribe__title {
  color: var(--color-white);
}
.section-subscribe__text {
  width: 100%;
  max-width: 54.6rem;
  margin: 0 auto;
}

.section-subscribe__text > * {
  color: var(--color-white);
}
.section-subscribe__text p:last-child {
  margin: 0;
}
.section-subscribe__form {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  position: relative;
}
.section-subscribe__input {
  width: 100%;
  background: var(--color-white);
  border-radius: 5rem;
  padding: 1.8rem 17rem 1.8rem 3rem;
  border: none;
}
.section-subscribe__input,
.section-subscribe__input::placeholder {
  font-size: 1.6rem;
  letter-spacing: -0.16px;
  color: var(--color-primary);
  font-weight: 500;
}
.section-subscribe__submit-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
  line-height: 2.4rem;
}
.section-subscribe__pattern {
  display: none;
}
/* subscribe */

/* about */
.about-listing {
  display: flex;
  justify-content: center;
  gap: 7.3rem;
}
.about-listing__item {
  text-align: center;
  width: 100%;
  max-width: 27.8rem;
}
.about-listing__icon {
  display: inline-block;
  margin-bottom: 3.1rem;
}
.about-listing__title {
  margin-bottom: 1.7rem;
}
.about-listing__text {
  margin: 0;
}

/* about */

/* side by side  */
.side-by-side {
  padding-right: 0;
  padding-left: 16rem;
}
.side-by-side--flipped {
  padding-left: 0;
  padding-right: 16rem;
}
.side-by-side__pattern1 {
  position: absolute;
  bottom: -67px;
  left: 0;
  z-index: -1;
}
.side-by-side--flipped .side-by-side__pattern1 {
  left: initial;
  right: 0;
  transform: scaleX(-1);
}
.side-by-side__imgbox,
.side-by-side__button {
  width: 100%;
  max-width: 62rem;
  height: 57.2rem;
  border-radius: 10px;
  overflow: hidden;
}
.side-by-side__button {
  position: relative;
}
.side-by-side__button:hover .side-by-side__img,
.side-by-side__button:focus .side-by-side__img {
  transform: scale(1.2);
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px);
}

.side-by-side__img,
.side-by-side__play-btn {
  transition: all 0.3s;
  /* border-radius: 10px; */
}
.side-by-side__play-btn {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.side-by-side__button:hover .side-by-side__play-btn,
.side-by-side__button:focus .side-by-side__play-btn {
  background: var(--color-primary);
  transform: translate(-50%, -50%) scale(1.2);
}
.side-by-side__play-btn img {
  opacity: 1;
}

.side-by-side__txtbox {
  width: 100%;
  max-width: 51rem;
}
.side-by-side__txtbox .section-titles {
  text-align: left;
  margin-bottom: 5.5rem;
}
.services-listing {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.services-listing__item {
  display: flex;
  gap: 1.8rem;
  align-items: flex-start;
}
.side-by-side__txtbox h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.side-by-side__txtbox p {
  margin: 0;
}
.side-by-side__desc {
  margin-bottom: 3rem;
}
/* side by side  */
/* main/sections */

/* footer */
.footer {
}
.footer__container {
  padding-top: 4.2rem;
  padding-bottom: 10rem;
  text-align: center;
  border-top: 3px solid #e5ecf4;
}
.footer__logo-link {
  display: inline-block;
  margin-bottom: 2.8rem;
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.footer-links__link {
  text-decoration: none;
}
.footer-links__link:hover,
.footer-links__link:focus {
  text-decoration: underline;
}
.footer__copyright {
  margin: 0;
  margin-top: 1.45rem;
  font-size: 1.4rem;
}
/* footer */
/* media queries */

@media all and (max-width: 1170px) {
  .section-hero__shape {
    display: none;
  }
}
@media all and (max-width: 1000px) {
  .header-nav {
    display: none;
  }
  .hamburger-btn {
    display: flex;
  }
}
@media all and (max-width: 900px) {
  .side-by-side {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .side-by-side__pattern1 {
    display: none;
  }
  .side-by-side__item {
    max-width: 100%;
  }
  .feature-listing {
    flex-wrap: wrap;
  }
  .feature-listing__item {
    width: calc(50% - 16px);
  }
}

@media all and (max-width: 800px) {
  .about-listing {
    flex-wrap: wrap;
  }
  .team-listing__item {
    flex: 1 0 50%;
  }
}
@media all and (max-width: 600px) {
  .footer-links {
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media all and (max-width: 460px) {
  .feature-listing__item {
    width: 100%;
  }
}
/* media queries */
